In [1]:
import pandas as pd
import numpy as np
import api
import time

In [2]:
model = "gpt-4o-mini"

In [3]:
df = pd.read_csv("multiturn.csv")

In [4]:
assistants = []
langchains = []

In [5]:
for i in range(len(df)):
    records = df.values[i].tolist()    
    questions = [x for x in records if x is not None and not (isinstance(x, float) and np.isnan(x))]
    assistant_messages = api.run_assistant_api(model, questions)
    assistants.append(assistant_messages)
    langchain_messages = api.run_langchain_api(model, questions)
    langchains.append(langchain_messages)

In [6]:
flattened_data = [message for conversation in assistants for message in conversation]
assistant_df = pd.DataFrame(flattened_data)

In [7]:
assistant_df['completion_tokens'] = assistant_df['usage'].apply(lambda x: x['completion_tokens'])
assistant_df['prompt_tokens'] = assistant_df['usage'].apply(lambda x: x['prompt_tokens'])
assistant_df['total_tokens'] = assistant_df['usage'].apply(lambda x: x['total_tokens'])

In [8]:
flattened_data = [message for conversation in langchains for message in conversation]
langchain_df = pd.DataFrame(flattened_data)

In [9]:
langchain_df['completion_tokens'] = langchain_df['usage'].apply(lambda x: x['completion_tokens'])
langchain_df['prompt_tokens'] = langchain_df['usage'].apply(lambda x: x['prompt_tokens'])
langchain_df['total_tokens'] = langchain_df['usage'].apply(lambda x: x['total_tokens'])

In [12]:
assistant_df

,content,response_time,usage,completion_tokens,prompt_tokens,total_tokens
0,"In the quiet of the evening, as the sun dipped...",2.303499,"{'completion_tokens': 34, 'prompt_tokens': 37,...",34,37,71
1,I apologize for the oversight. The sentence I ...,4.038593,"{'completion_tokens': 57, 'prompt_tokens': 80,...",57,80,137
2,The capital of Japan is Tokyo.,2.323707,"{'completion_tokens': 9, 'prompt_tokens': 33, ...",9,33,42
3,Certainly! Tokyo is a vibrant metropolis that ...,8.085529,"{'completion_tokens': 437, 'prompt_tokens': 57...",437,57,494
4,Regular exercise offers a wide range of benefi...,9.136734,"{'completion_tokens': 419, 'prompt_tokens': 36...",419,36,455
5,The recommended amount of exercise for adults ...,8.425454,"{'completion_tokens': 311, 'prompt_tokens': 46...",311,469,780
6,"To solve the equation \( 2x + 5 = 15 \), follo...",4.523911,"{'completion_tokens': 135, 'prompt_tokens': 41...",135,41,176
7,"To solve for \( x + y \), I need the values of...",3.536495,"{'completion_tokens': 58, 'prompt_tokens': 187...",58,187,245
8,12 + 5 equals 17.,2.574963,"{'completion_tokens': 10, 'prompt_tokens': 35,...",10,35,45
9,"If you add 2 to 17, you get 19.",2.222593,"{'completion_tokens': 16, 'prompt_tokens': 66,...",16,66,82
10,"If you subtract 10 from 19, you get 9.",2.237351,"{'completion_tokens': 16, 'prompt_tokens': 99,...",16,99,115
11,Mumbai is located on the west coast of India. ...,3.440824,"{'completion_tokens': 64, 'prompt_tokens': 32,...",64,32,96
12,The capital of India is New Delhi. It serves a...,10.862178,"{'completion_tokens': 56, 'prompt_tokens': 107...",56,107,163
13,"Diverse, vibrant, traditional, modern, artisti...",2.292195,"{'completion_tokens': 23, 'prompt_tokens': 180...",23,180,203

In [13]:
langchain_df

,content,response_time,usage,completion_tokens,prompt_tokens,total_tokens
0,"In the quiet of the evening, as the sun dipped...",0.983372,"{'completion_tokens': 31, 'prompt_tokens': 16,...",31,16,47
1,I apologize for the oversight. The sentence I ...,1.377043,"{'completion_tokens': 55, 'prompt_tokens': 58,...",55,58,113
2,The capital of Japan is Tokyo.,0.650479,"{'completion_tokens': 7, 'prompt_tokens': 12, ...",7,12,19
3,Certainly! Tokyo is a vibrant metropolis that ...,9.521729,"{'completion_tokens': 461, 'prompt_tokens': 36...",461,36,497
4,Regular exercise offers a wide range of benefi...,7.581821,"{'completion_tokens': 523, 'prompt_tokens': 15...",523,15,538
5,The recommended amount of exercise for adults ...,5.279513,"{'completion_tokens': 408, 'prompt_tokens': 55...",408,554,962
6,"To solve the equation \( 2x + 5 = 15 \), follo...",2.988369,"{'completion_tokens': 138, 'prompt_tokens': 20...",138,20,158
7,"To solve for \( x + y \), I need specific valu...",1.636065,"{'completion_tokens': 57, 'prompt_tokens': 171...",57,171,228
8,12 + 5 equals 17.,0.942953,"{'completion_tokens': 8, 'prompt_tokens': 14, ...",8,14,22
9,"If you add 2 to 17, you get 19.",0.721363,"{'completion_tokens': 14, 'prompt_tokens': 45,...",14,45,59
10,"If you subtract 10 from 19, you get 9.",0.614202,"{'completion_tokens': 14, 'prompt_tokens': 78,...",14,78,92
11,Mumbai is located on the west coast of India. ...,1.436246,"{'completion_tokens': 83, 'prompt_tokens': 11,...",83,11,94
12,The capital of India is New Delhi. New Delhi s...,2.353716,"{'completion_tokens': 81, 'prompt_tokens': 107...",81,107,188
13,"Diverse, vibrant, traditional, modern, festiva...",0.715054,"{'completion_tokens': 21, 'prompt_tokens': 207...",21,207,228

In [10]:
assistant_df[['response_time','completion_tokens','prompt_tokens','total_tokens']].sum()

response_time          66.004026
completion_tokens    1645.000000
prompt_tokens        1459.000000
total_tokens         3104.000000
dtype: float64

In [11]:
langchain_df[['response_time','completion_tokens','prompt_tokens','total_tokens']].sum()

response_time          36.801924
completion_tokens    1901.000000
prompt_tokens        1344.000000
total_tokens         3245.000000
dtype: float64

In [26]:
match = 0
for i in range(len(langchain_df)):
    if langchain_df.content[i] == assistant_df.content[i]:
        match += 1

In [27]:
match

5

In [34]:
langchain_df.content[3] == assistant_df.content[3]

False

In [35]:
langchain_df.content[3]

"Certainly! Tokyo is a vibrant metropolis that blends traditional and modern culture in unique ways. Here are some key aspects of Tokyo's culture:\n\n1. **Traditional Arts**: Tokyo is home to various traditional arts, including kabuki (a classical Japanese dance-drama), noh (a form of musical drama), and sumo wrestling. The city also hosts numerous festivals that celebrate these traditions.\n\n2. **Cuisine**: Tokyo is renowned for its diverse culinary scene, ranging from street food to Michelin-starred restaurants. Sushi, ramen, tempura, and kaiseki (a multi-course meal) are just a few examples of the city's rich food culture. Tsukiji Outer Market and various izakayas (Japanese pubs) are popular spots for food lovers.\n\n3. **Fashion and Pop Culture**: Areas like Harajuku are famous for their youth fashion and subcultures, showcasing everything from avant-garde styles to traditional kimono. Tokyo is also a hub for anime, manga, and video games, with districts like Akihabara dedicated to otaku culture.\n\n4. **Architecture**: The city features a mix of traditional and contemporary architecture. Historic sites like the Meiji Shrine and Senso-ji Temple coexist with modern skyscrapers and innovative designs, such as the Tokyo Skytree and the National Art Center.\n\n5. **Technology and Innovation**: Tokyo is at the forefront of technology and innovation, with a strong emphasis on robotics, electronics, and digital art. The city's tech districts, like Shibuya and Shinjuku, are known for their cutting-edge developments.\n\n6. **Public Spaces and Nature**: Despite being a bustling urban center, Tokyo has many parks and gardens, such as Ueno Park and Shinjuku Gyoen, where residents and visitors can enjoy nature. Cherry blossom season in spring is particularly celebrated, drawing crowds to parks for hanami (flower viewing) picnics.\n\n7. **Etiquette and Social Norms**: Japanese culture places a strong emphasis on respect, politeness, and social harmony. Bowing is a common greeting, and there are specific customs related to gift-giving, dining, and public behavior.\n\nOverall, Tokyo's culture is a fascinating tapestry that reflects both its rich history and its dynamic, forward-looking spirit."

In [36]:
assistant_df.content[3]

"Certainly! Tokyo is a vibrant metropolis that blends traditional and modern culture in unique ways. Here are some key aspects of Tokyo's culture:\n\n1. **Traditional Arts**: Tokyo is home to various traditional arts, including kabuki (a classical Japanese dance-drama), noh (a form of musical drama), and sumo wrestling. The city also hosts numerous festivals that celebrate these traditions.\n\n2. **Cuisine**: Tokyo is renowned for its diverse culinary scene, ranging from street food to Michelin-starred restaurants. Sushi, ramen, tempura, and kaiseki (a multi-course meal) are just a few examples of the city's rich food culture.\n\n3. **Fashion and Pop Culture**: Areas like Harajuku are famous for their youth fashion and subcultures, showcasing everything from avant-garde styles to traditional kimono. Tokyo is also a hub for anime, manga, and video games, influencing global pop culture.\n\n4. **Architecture**: The city features a mix of traditional and contemporary architecture, from ancient temples like Senso-ji to modern skyscrapers like the Tokyo Skytree. This juxtaposition reflects Tokyo's dynamic nature.\n\n5. **Technology and Innovation**: As a leading global city, Tokyo is at the forefront of technology and innovation. It is known for its advanced public transportation system, robotics, and cutting-edge electronics.\n\n6. **Nature and Parks**: Despite its urban environment, Tokyo has many parks and gardens, such as Ueno Park and Shinjuku Gyoen, where residents and visitors can enjoy nature and seasonal changes, particularly cherry blossoms in spring.\n\n7. **Spirituality**: The city is dotted with Shinto shrines and Buddhist temples, such as Meiji Shrine and Zojo-ji Temple, which play an important role in the spiritual life of its residents.\n\n8. **Art and Museums**: Tokyo boasts a vibrant art scene with numerous galleries, museums, and art districts. The Tokyo National Museum and the Mori Art Museum are notable institutions showcasing both traditional and contemporary art.\n\nOverall, Tokyo's culture is a fascinating blend of the old and the new, making it a unique and dynamic city."