In [1]:
import pandas as pd
import numpy as np
import api
import time

In [2]:
model = "gpt-4o-mini"

In [3]:
df = pd.read_csv("multiturn.csv")

In [6]:
assistants = []
langchains = []

In [7]:
for i in range(len(df)):
    records = df.values[i].tolist()    
    questions = [x for x in records if x is not None and not (isinstance(x, float) and np.isnan(x))]
    assistant_messages = api.run_assistant_api(model, questions)
    assistants.append(assistant_messages)
    langchain_messages = api.run_langchain_api(model, questions)
    langchains.append(langchain_messages)

In [16]:
flattened_data = [message for conversation in assistants for message in conversation]
assistant_df = pd.DataFrame(flattened_data)

In [17]:
assistant_df

,content,response_time,usage
0,"In the quiet of the evening, as the sun dipped...",2.77 seconds,"{'completion_tokens': 32, 'prompt_tokens': 37,..."
1,I apologize for the oversight. The sentence I ...,3.35 seconds,"{'completion_tokens': 57, 'prompt_tokens': 78,..."
2,The capital of Japan is Tokyo.,2.17 seconds,"{'completion_tokens': 9, 'prompt_tokens': 33, ..."
3,Certainly! Tokyo is a vibrant metropolis that ...,7.27 seconds,"{'completion_tokens': 452, 'prompt_tokens': 57..."
4,Regular exercise offers a wide range of benefi...,8.71 seconds,"{'completion_tokens': 435, 'prompt_tokens': 36..."
5,The recommended amount of exercise for adults ...,6.42 seconds,"{'completion_tokens': 318, 'prompt_tokens': 48..."
6,"To solve the equation \( 2x + 5 = 15 \), follo...",6.01 seconds,"{'completion_tokens': 140, 'prompt_tokens': 41..."
7,"To solve for \( x + y \), I need the values of...",3.42 seconds,"{'completion_tokens': 59, 'prompt_tokens': 192..."
8,12 + 5 equals 17.,2.27 seconds,"{'completion_tokens': 10, 'prompt_tokens': 35,..."
9,"If you add 2 to 17, you get 19.",2.67 seconds,"{'completion_tokens': 16, 'prompt_tokens': 66,..."
10,"If you subtract 10 from 19, you get 9.",2.58 seconds,"{'completion_tokens': 16, 'prompt_tokens': 99,..."
11,Mumbai is located on the west coast of India. ...,6.43 seconds,"{'completion_tokens': 64, 'prompt_tokens': 32,..."
12,The capital of India is New Delhi. It serves a...,2.48 seconds,"{'completion_tokens': 56, 'prompt_tokens': 107..."
13,"Diverse, vibrant, traditional, modern, artisti...",3.87 seconds,"{'completion_tokens': 23, 'prompt_tokens': 180..."

In [19]:
flattened_data = [message for conversation in langchains for message in conversation]
langchain_df = pd.DataFrame(flattened_data)

In [20]:
langchain_df

,content,response_time,usage
0,"In the quiet of the evening, as the sun dipped...",0.814016,"{'completion_tokens': 31, 'prompt_tokens': 16,..."
1,I apologize for the oversight. The sentence I ...,1.042891,"{'completion_tokens': 55, 'prompt_tokens': 58,..."
2,The capital of Japan is Tokyo.,0.593057,"{'completion_tokens': 7, 'prompt_tokens': 12, ..."
3,Certainly! Tokyo is a vibrant metropolis that ...,12.313164,"{'completion_tokens': 455, 'prompt_tokens': 36..."
4,Regular exercise offers a wide range of benefi...,10.326238,"{'completion_tokens': 501, 'prompt_tokens': 15..."
5,The general recommendations for exercise for a...,6.530024,"{'completion_tokens': 381, 'prompt_tokens': 53..."
6,"To solve the equation \( 2x + 5 = 15 \), follo...",2.798634,"{'completion_tokens': 138, 'prompt_tokens': 20..."
7,"To solve for \( x + y \), I need specific valu...",1.435487,"{'completion_tokens': 57, 'prompt_tokens': 171..."
8,12 + 5 equals 17.,0.661092,"{'completion_tokens': 8, 'prompt_tokens': 14, ..."
9,"If you add 2 to 17, you get 19.",0.921252,"{'completion_tokens': 14, 'prompt_tokens': 45,..."
10,"If you subtract 10 from 19, you get 9.",0.614050,"{'completion_tokens': 14, 'prompt_tokens': 78,..."
11,Mumbai is located on the west coast of India. ...,2.133159,"{'completion_tokens': 83, 'prompt_tokens': 11,..."
12,The capital of India is New Delhi. New Delhi s...,1.313874,"{'completion_tokens': 81, 'prompt_tokens': 107..."
13,"Diverse, vibrant, traditional, modern, artisti...",0.914885,"{'completion_tokens': 21, 'prompt_tokens': 207..."